<div>
  <%= @recipe.name %><br>
  <%= @recipe.kitchen %><br>
  <%= @recipe.typeFood %><br>
  <%= @recipe.numberPeopleServe %><br>
  <%= @recipe.preparationTime %><br>
  <%= @recipe.level %><br>
  <%= @recipe.ingredients %><br>
  <%= @recipe.steps %>
</div>
